mod/turningtech/wsdl/CoursesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. -->
<definitions targetNamespace="http://ws.turningtool.turningtech.com/courses" name="CoursesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.turningtool.turningtech.com/courses" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.turningtool.turningtech.com/courses" schemaLocation="CoursesService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTaughtCourses">
    <part name="parameters" element="tns:getTaughtCourses"/>
  </message>
  <message name="getTaughtCoursesResponse">
    <part name="parameters" element="tns:getTaughtCoursesResponse"/>
  </message>
  <message name="AuthenticationException">
    <part name="fault" element="tns:AuthenticationException"/>
  </message>
  <message name="CourseException">
    <part name="fault" element="tns:CourseException"/>
  </message>
  <message name="getClassRoster">
    <part name="parameters" element="tns:getClassRoster"/>
  </message>
  <message name="getClassRosterResponse">
    <part name="parameters" element="tns:getClassRosterResponse"/>
  </message>
  <message name="SiteConnectException">
    <part name="fault" element="tns:SiteConnectException"/>
  </message>
  <portType name="CoursesWS">
    <operation name="getTaughtCourses">
      <input message="tns:getTaughtCourses"/>
      <output message="tns:getTaughtCoursesResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:CourseException" name="CourseException"/>
    </operation>
    <operation name="getClassRoster">
      <input message="tns:getClassRoster"/>
      <output message="tns:getClassRosterResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
      <fault message="tns:CourseException" name="CourseException"/>
    </operation>
  </portType>
  <binding name="CoursesWSPortBinding" type="tns:CoursesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTaughtCourses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="CourseException">
        <soap:fault name="CourseException" use="literal"/>
      </fault>
    </operation>
    <operation name="getClassRoster">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
      <fault name="CourseException">
        <soap:fault name="CourseException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CoursesService">
    <port name="CoursesWSPort" binding="tns:CoursesWSPortBinding">
      <soap:address location="@URL/soap/coursesService.php"/>
    </port>
  </service>
</definitions>

