mod/turningtech/wsdl/GradesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. -->
<definitions targetNamespace="http://ws.turningtool.turningtech.com/grades" name="GradesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.turningtool.turningtech.com/grades" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.turningtool.turningtech.com/grades" schemaLocation="GradesService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createGradebookItem">
    <part name="parameters" element="tns:createGradebookItem"/>
  </message>
  <message name="createGradebookItemResponse">
    <part name="parameters" element="tns:createGradebookItemResponse"/>
  </message>
  <message name="AuthenticationException">
    <part name="fault" element="tns:AuthenticationException"/>
  </message>
  <message name="SiteConnectException">
    <part name="fault" element="tns:SiteConnectException"/>
  </message>
  <message name="listGradebookItems">
    <part name="parameters" element="tns:listGradebookItems"/>
  </message>
  <message name="listGradebookItemsResponse">
    <part name="parameters" element="tns:listGradebookItemsResponse"/>
  </message>
  <message name="GradeException">
    <part name="fault" element="tns:GradeException"/>
  </message>
  <message name="postIndividualScore">
    <part name="parameters" element="tns:postIndividualScore"/>
  </message>
  <message name="postIndividualScoreResponse">
    <part name="parameters" element="tns:postIndividualScoreResponse"/>
  </message>
  <message name="postIndividualScoreByDto">
    <part name="parameters" element="tns:postIndividualScoreByDto"/>
  </message>
  <message name="postIndividualScoreByDtoResponse">
    <part name="parameters" element="tns:postIndividualScoreByDtoResponse"/>
  </message>
  <message name="overrideIndividualScore">
    <part name="parameters" element="tns:overrideIndividualScore"/>
  </message>
  <message name="overrideIndividualScoreResponse">
    <part name="parameters" element="tns:overrideIndividualScoreResponse"/>
  </message>
  <message name="overrideIndividualScoreByDto">
    <part name="parameters" element="tns:overrideIndividualScoreByDto"/>
  </message>
  <message name="overrideIndividualScoreByDtoResponse">
    <part name="parameters" element="tns:overrideIndividualScoreByDtoResponse"/>
  </message>
  <message name="addToIndividualScore">
    <part name="parameters" element="tns:addToIndividualScore"/>
  </message>
  <message name="addToIndividualScoreResponse">
    <part name="parameters" element="tns:addToIndividualScoreResponse"/>
  </message>
  <message name="addToIndividualScoreByDto">
    <part name="parameters" element="tns:addToIndividualScoreByDto"/>
  </message>
  <message name="addToIndividualScoreByDtoResponse">
    <part name="parameters" element="tns:addToIndividualScoreByDtoResponse"/>
  </message>
  <message name="postScores">
    <part name="parameters" element="tns:postScores"/>
  </message>
  <message name="postScoresResponse">
    <part name="parameters" element="tns:postScoresResponse"/>
  </message>
  <message name="postScoresOverrideAll">
    <part name="parameters" element="tns:postScoresOverrideAll"/>
  </message>
  <message name="postScoresOverrideAllResponse">
    <part name="parameters" element="tns:postScoresOverrideAllResponse"/>
  </message>
  <portType name="GradesWS">
    <operation name="createGradebookItem">
      <input message="tns:createGradebookItem"/>
      <output message="tns:createGradebookItemResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="listGradebookItems">
      <input message="tns:listGradebookItems"/>
      <output message="tns:listGradebookItemsResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
      <fault message="tns:GradeException" name="GradeException"/>
    </operation>
    <operation name="postIndividualScore">
      <input message="tns:postIndividualScore"/>
      <output message="tns:postIndividualScoreResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="postIndividualScoreByDto">
      <input message="tns:postIndividualScoreByDto"/>
      <output message="tns:postIndividualScoreByDtoResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="overrideIndividualScore">
      <input message="tns:overrideIndividualScore"/>
      <output message="tns:overrideIndividualScoreResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="overrideIndividualScoreByDto">
      <input message="tns:overrideIndividualScoreByDto"/>
      <output message="tns:overrideIndividualScoreByDtoResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="addToIndividualScore">
      <input message="tns:addToIndividualScore"/>
      <output message="tns:addToIndividualScoreResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="addToIndividualScoreByDto">
      <input message="tns:addToIndividualScoreByDto"/>
      <output message="tns:addToIndividualScoreByDtoResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="postScores">
      <input message="tns:postScores"/>
      <output message="tns:postScoresResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
    <operation name="postScoresOverrideAll">
      <input message="tns:postScoresOverrideAll"/>
      <output message="tns:postScoresOverrideAllResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException"/>
      <fault message="tns:SiteConnectException" name="SiteConnectException"/>
    </operation>
  </portType>
  <binding name="GradesWSPortBinding" type="tns:GradesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createGradebookItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="listGradebookItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
      <fault name="GradeException">
        <soap:fault name="GradeException" use="literal"/>
      </fault>
    </operation>
    <operation name="postIndividualScore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="postIndividualScoreByDto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="overrideIndividualScore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="overrideIndividualScoreByDto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="addToIndividualScore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="addToIndividualScoreByDto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="postScores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
    <operation name="postScoresOverrideAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SiteConnectException">
        <soap:fault name="SiteConnectException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GradesService">
    <port name="GradesWSPort" binding="tns:GradesWSPortBinding">
      <soap:address location="@URL/soap/gradesService.php"/>
    </port>
  </service>
</definitions>

